
<nav class="masthead">
  
    <ul class='language-nav masthead-links'>
      <li><a href "" >CSS</a> </li>
      <li><a href "" >HTML</a> </li>
      <li><a href "" >Javascript</a> </li>
      <li><a href "" >Ruby</a> </li>
    </ul>

<img class="logo" src="assets/AA_Times_Logo.png" alt="">

    <ul class="masthead-links borders">
      <li>Tuesday, October 18, 2016</li>
      
      <li><i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <a href "" >Today’s Paper</a></li>
        
      <li><i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href "" >Video</a></li>
        
      <li><i class="fa fa-sun-o" aria-hidden="true"></i>
        <button>77°F</button></li>
        
      <li><button>AAO</button> <strong>+100%</strong></li>
    </ul>
  
  
</nav>